.input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.label {
    font-size: 18px;
    font-weight: 700;
}

.input {
    height: 38px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #cccccc;
    font-size: 16px;
}

.error_msg {
    color: #ea5923;
}